@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-image: url("../public/bg.png");
  /* bg opacity */
  background-color: rgba(38, 25, 59, 0.8);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
